
@{
    ViewBag.Title = "ElectronicsDetails";
    Layout = "~/Views/Shared/Categorylayout.cshtml";
}

<h2 style="text-align:center">

    Electronics Product
</h2>

<div class="col-md-3 col-sm-3 col-xs-6" style="margin-bottom:8px">

    <div class="thumbnail product-item" style="height:300px">

        <img class="img-responsive" title="Click to View Product detail"
             style="cursor:pointer;height:160px;width:100%"
             src="~/Images/KeyBoard.jpg" />

        <div class="caption">
            <h5>Keyboard</h5>
            <p>800 Tk.</p>

            <p>Available</p>

        </div>
    </div>

</div>


<div class="col-md-3 col-sm-3 col-xs-6" style="margin-bottom:8px">

    <div class="thumbnail product-item" style="height:300px">

        <img class="img-responsive" title="Click to View Product detail"
             style="cursor:pointer;height:160px;width:100%"
             src="~/Images/LAPTOP.jpg" />

        <div class="caption">
            <h5>Laptop</h5>
            <p>45000 TK.</p>

            <p>Available</p>

        </div>
    </div>

</div>




<div class="col-md-3 col-sm-3 col-xs-6" style="margin-bottom:8px">

    <div class="thumbnail product-item" style="height:300px">

        <img class="img-responsive" title="Click to View Product detail"
             style="cursor:pointer;height:160px;width:100%"
             src="~/Images/mobile.jpg" />

        <div class="caption">
            <h5>Mobile</h5>
            <p>20000 TK</p>

            <p>Available</p>

        </div>
    </div>

</div>





<div class="col-md-3 col-sm-3 col-xs-6" style="margin-bottom:8px">

    <div class="thumbnail product-item" style="height:300px">

        <img class="img-responsive" title="Click to View Product detail"
             style="cursor:pointer;height:160px;width:100%"
             src="~/Images/TV.jpg" />

        <div class="caption">

            <p>    <a href="../Details/electro" class="btn btn-info ">Details</a></p>
            <h5>Television</h5>
            <p>60000 TK</p>

            <p>Available</p>

        </div>
    </div>

</div>






