
@{
    ViewBag.Title = "GameDetails";
    Layout = "~/Views/Shared/Categorylayout.cshtml";
}



<h2 style="text-align:center">

    GamingProduct
</h2>

<div class="col-md-3 col-sm-3 col-xs-6" style="margin-bottom:8px">

    <div class="thumbnail product-item" style="height:300px">

        <img class="img-responsive" title="Click to View Product detail"
             style="cursor:pointer;height:160px;width:100%"
             src="~/Images/Controller.jpg" />

        <div class="caption">
            <h5>Controller</h5>
            <p>2200 Tk.</p>

            <p>Available</p>

        </div>
    </div>

</div>


<div class="col-md-3 col-sm-3 col-xs-6" style="margin-bottom:8px">

    <div class="thumbnail product-item" style="height:300px">

        <img class="img-responsive" title="Click to View Product detail"
             style="cursor:pointer;height:160px;width:100%"
             src="~/Images/Fifa20.png" />

        <div class="caption">
            <h5>FIFA 20</h5>
            <p>200 TK.</p>

            <p>Available</p>

        </div>
    </div>

</div>




<div class="col-md-3 col-sm-3 col-xs-6" style="margin-bottom:8px">

    <div class="thumbnail product-item" style="height:300px">

        <img class="img-responsive" title="Click to View Product detail"
             style="cursor:pointer;height:160px;width:100%"
             src="~/Images/Keypad.jpg" />

        <div class="caption">
            <h5>Gaming Keypad</h5>
            <p>4500 TK</p>

            <p>Available</p>

        </div>
    </div>

</div>





<div class="col-md-3 col-sm-3 col-xs-6" style="margin-bottom:8px">

    <div class="thumbnail product-item" style="height:300px">

        <img class="img-responsive" title="Click to View Product detail"
             style="cursor:pointer;height:160px;width:100%"
             src="~/Images/images.jpg" />

        <div class="caption">
            <h5>PlayStation 4</h5>
            <p>6000 TK</p>

            <p>Available</p>

        </div>
    </div>

</div>








