
@{
    ViewBag.Title = "WomenDetails";
    Layout = "~/Views/Shared/Categorylayout.cshtml";
}

<h2 style="text-align:center">WomenDetails</h2>






<div class="col-md-3 col-sm-3 col-xs-6" style="margin-bottom:8px">

    <div class="thumbnail product-item" style="height:300px">

        <img class="img-responsive" title="Click to View Product detail"
             style="cursor:pointer;height:160px;width:100%"
             src="~/Images/sari.jpg" />

        <div class="caption">
            <h5>Sari</h5>
            <p>5000 TK</p>

            <p>Available</p>

        </div>
    </div>

</div>




<div class="col-md-3 col-sm-3 col-xs-6" style="margin-bottom:8px">

    <div class="thumbnail product-item" style="height:300px">

        <img class="img-responsive" title="Click to View Product detail"
             style="cursor:pointer;height:160px;width:100%"
             src="~/Images/Frock.jpg" />

        <div class="caption">
            <h5>Frock</h5>
            <p>1200 TK</p>

            <p>Available</p>

        </div>
    </div>

</div>





<div class="col-md-3 col-sm-3 col-xs-6" style="margin-bottom:8px">

    <div class="thumbnail product-item" style="height:300px">

        <img class="img-responsive" title="Click to View Product detail"
             style="cursor:pointer;height:160px;width:100%"
             src="~/Images/Kurta.jpg" />

        <div class="caption">
            <h5>Kurta</h5>
            <p>2200 TK</p>

            <p>Available</p>

        </div>
    </div>

</div>





<div class="col-md-3 col-sm-3 col-xs-6" style="margin-bottom:8px">

    <div class="thumbnail product-item" style="height:300px">

        <img class="img-responsive" title="Click to View Product detail"
             style="cursor:pointer;height:160px;width:100%"
             src="~/Images/Shoe.jpg" />

        <div class="caption">
            <h5>Ladies Sandel</h5>
            <p>1000 TK</p>

            <p>Available</p>

        </div>
    </div>

</div>

