
@{
    ViewBag.Title = "aboutus";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

    <html>

    <head>

        <title>

            biodata saimom

        </title>

    </head>


    <body>
        <div>
            <h1><p align="center">Members</p></h1>
            <p align="left"><img src="saimom.jpg" height="450" width="450"></p>
        </div>

        <h2>Personal Info</h2>

        <ul>

            <li>NAME:MD. SAIMOM Islam</li>
            <li>FATHER'S NAME: KABIR HOSSAIN</li>
            <li>MOTHERS'S NAME: SELINA KABIR</li>
            <li>DATE OF BIRTH: 8<sup>th</sup> SEPTEMBER,1997</li>
            <li>PERMANENT ADDRESS:RAMGANJ,LUXMIPUR,TEORY</li>
            <li>CONTACT NUMBER:01521400864</li>

        </ul>

        <h3>EDUCATIONAL BACKGROUND</h3>
        <ul>

            SSC
            <li>SCHOOL:CHITTAGONG GOVT. HIGH SCHOOL</li></br>
            <li>PASSING YEAR:2014</li></br>
            <li>GPA:5.00</li></br></br>

            HSC
            <li>COLLEGE:CHITTAGONG B.A.F SHAHEEN COLLEGE</li></br>
            <li>PASSING YEAR:2016</li></br>
            <li>GPA:4.67</li>

        </ul>



    </body>





    </html>

