@{
    ViewBag.Title = "Home Page";
}

<div id="themeSlider" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
        <li data-target="#themeSlider" data-slide-to="0" class="active"></li>
        <li data-target="#themeSlider" data-slide-to="1"></li>
        <li data-target="#themeSlider" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner">
        <div class="item active">
            <div class="imgOverlay"></div>
            <img style="height:320px;width:100%" src="../Images/Slider1.jpg" alt="First slide">
            <div class="carousel-caption">


            </div>
        </div>
        <div class="item">
            <div class="imgOverlay"></div>
            <img style="height:320px;width:100%" src="../Images/Slider2.jpg" alt="Second slide">
            <div class="carousel-caption">


            </div>
        </div>
        <div class="item">
            <div class="imgOverlay"></div>
            <img style="height:320px;width:100%" src="../Images/Slider3.jpg" alt="Third slide">
            <div class="carousel-caption">


            </div>
        </div>
    </div>
    <a class="left carousel-control" href="#themeSlider" data-slide="prev">
        <span class="fa fa-chevron-left"></span>
    </a>
    <a class="right carousel-control" href="#themeSlider" data-slide="next">
        <span class="fa fa-chevron-right"></span>
    </a>

</div>
<div class="olContent f1"><h2 style="color:black">Search Product/Category</h2></div>
<div class="olSearch fr">
    <input type="text" placeholder="Enter Keyword" name="searchKey" class="inputComn houseText form-control" />
    <div class="searchIcon">
        <button type="button" class="searchBtn">
            <img src="~/Images/searchIcon.png" />
        </button>
    </div>


</div>

<div class="row">
    <div class="col-md-12">
        <div class="page-header">
            <h1>Category</h1>
        </div>
    </div>
</div>

<div class="row product-container">

    <div class="col-md-3 col-sm-3 col-xs-6" style="margin-bottom:8px">
        <a href="../Home/Products/1">
            <div class="thumbnail product-item" style="height:300px">

                <img class="img-responsive" title="Click to View Product detail"
                     style="cursor:pointer;height:160px;width:100%"
                     src="~/Images/3.jpg" />

                <div class="caption">
                    <h5>Gents Park</h5>

                    <p>Available</p>

                </div>
            </div>
        </a>
    </div>

    


        <div class="col-md-3 col-sm-3 col-xs-6" style="margin-bottom:8px">
            
            <a href="../Home/Products/2">
                <div class="thumbnail product-item" style="height:300px">

                    <img class="img-responsive" title="Click to View Product detail"
                         style="cursor:pointer;height:160px;width:100%"
                         src="~/Images/2.jpg" />

                    <div class="caption">
                        <h5>Ladies Fashion</h5>

                        <p>Available</p>

                    </div>
                </div>
            </a>
        </div>



        <div class="col-md-3 col-sm-3 col-xs-6" style="margin-bottom:8px">
            <a href="../Home/Products/6">
                <div class="thumbnail product-item" style="height:300px">

                    <img class="img-responsive" title="Click to View Product detail"
                         style="cursor:pointer;height:160px;width:100%"
                         src="~/Images/1.jpg" />

                    <div class="caption">
                        <h5>Electronics</h5>

                        <p>Available</p>

                    </div>


                </div>
            </a>
        </div>

        <div class="col-md-3 col-sm-3 col-xs-6" style="margin-bottom:8px">
            
            <a href="../Home/Products/5">
                <div class="thumbnail product-item" style="height:300px">

                    <img class="img-responsive" title="Click to View Product detail"
                         style="cursor:pointer;height:160px;width:100%"
                         src="~/Images/4.jpg" />

                    <div class="caption">
                        <h5>Gaming Products</h5>
                       
                        <p>Available</p>

                    </div>
                </div>
            </a>

        </div>






    </div>








